
h3.edit-review {
    text-align: center;
    color: #72491e;
}

form.edit-review-form {
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

form.edit-review-form input,
form.edit-review-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

form.edit-review-form button {
    background-color: #72491e;
    color: #fff;
    padding: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

form.edit-review-form label{
    background-color: white;
}